# Disable `workspace:*` syntax for defining workspace package dependencies.
#
# See: https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol=false

# Link locally available packages to `node_modules` instead of downloading
# from registry.
# 
# See: https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=true

# Prefer workspace packages over packages on the registry even if there is
# a newer version of the workspace package is available on registry.
# 
# Note: Only useful if `save-workspace-protocol=false`, otherwise
# `workspace:*` syntax will handle this case anyway.
# 
# See: https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

# see https://turbo.build/repo/docs/handbook/tools/prisma#2-add-a-new-database-package
public-hoist-pattern[]=*prisma*

shamefully-hoist=true
