name: CI

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    types: [opened, synchronize]

env:
  AUTH_COOKIE_DOMAIN: "fake"
  GITHUB_ID: "fake"
  GITHUB_SECRET: "fake"
  TWITCH_ID: "fake"
  TWITCH_SECRET: "fake"
  DISCORD_ID: "fake"
  DISCORD_SECRET: "fake"
  NEXT_PUBLIC_GQL_URL: "https://gql.dev.kamp.us/graphql"

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    # env:
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    #  TURBO_REMOTE_ONLY: true

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version-file: "package.json"

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test:nowatch --workspaces --if-present

      - name: Build
        run: npm run build
